:root {
    --primary-white: #FEFDFB;
    --primary-black: #131313;
    --primary-yellow: #E9EB76;
    --primary-green: #D5EEC8;
    --primary-blue: #BEE9EC;
    --primary-purple: #DAB2ED;
    --dark-yellow: #CECA5C;
}

.heroarea-wrapper {
    height: 100vh;
    background-image: url("/hero/hero-background.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

button.btn-primary {
    background-color: var(--primary-yellow);
    font-weight: 500;
    font-size: 24px;
    padding: 15.5px 36px 17.5px 36px;
    border-radius: 63px;
    color: var(--primary-black);
    transition: 0.3s;
}

button.btn-primary:hover {
    background-color: var(--dark-yellow);
}