:root {
    --primary-white: #FEFDFB;
    --primary-black: #131313;
    --primary-yellow: #E9EB76;
    --primary-green: #D5EEC8;
    --primary-blue: #BEE9EC;
    --primary-purple: #DAB2ED;
    --dark-yellow: #CECA5C;
}

body {
    color: var(--primary-black);
    background-color: var(--primary-white);
}

.heroarea-wrapper {
    height: 100vh;
    background-image: url("/hero/hero-background.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

button.btn-primary {
    background-color: var(--primary-yellow);
    font-weight: 500;
    font-size: 24px;
    padding: 15.5px 36px 17.5px 36px;
    border-radius: 63px;
    color: var(--primary-black);
    transition: 0.3s;
}

button.btn-primary:hover {
    background-color: var(--dark-yellow);
}

nav {
    position: fixed;
    top: 0;
    left: 0;
}

nav .options-wrapper {
    background-color: var(--primary-white);
    align-self: start;
    padding: 14.5px 32px 12.5px 32px;
    border-radius: 108px;
    display: flex;
    gap: 16px;
    font-size: 18px;
    font-weight: 500;
}

.about-section .tiles-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    padding: 0 40px;
    margin-top: 80px;
}

.about-section .tiles-wrapper .tile {
    background-color: var(--primary-yellow);
    display: flex;
    gap: 40px;
    border-radius: 16px;
    padding: 40px;
}

.about-section .tiles-wrapper .tile:nth-child(2) {
    background-color: var(--primary-blue);
}

.about-section .tiles-wrapper .tile:nth-child(3) {
    background-color: var(--primary-green);
}

.about-section .tiles-wrapper .tile:nth-child(4) {
    background-color: var(--primary-purple);
}

.about-section .tiles-wrapper .tile img {
    max-width: 240px;
    max-height: 240px;
}

.about-section .tiles-wrapper .tile h3 {
    color: var(--primary-black);
    font-weight: 800;
    text-transform: uppercase;
    font-size: 40px;
    line-height: 40px;
}

.about-section .tiles-wrapper .tile p {
    color: var(--primary-black);
    font-size: 18px;
    line-height: 25.2px;
    font-weight: 500;
    margin-top: 25px;
}

.life-package h1 {
    color: var(--primary-black);
    font-weight: 800;
    font-size: 100px;
    line-height: 95px;
    letter-spacing: -3px;
    text-align: center;
}

.life-package h1 img {
    display: inline;
    max-width: 100px;
    max-height: 100px;
}

.life-package h1 span {
    color: var(--primary-yellow);
}

.sliding-tiles .tile {
    max-width: 430px;
}

.sliding-tiles .tile img {
    border-radius: 16px;
}

.sliding-tiles .tile h3 {
    font-weight: 800;
    font-size: 40px;
    line-height: 30px;
    text-transform: uppercase;
    margin-top: 40px;
}

.sliding-tiles .tile p {
    font-weight: 500;
    font-size: 18px;
    line-height: 25.2px;
    margin-top: 20px;
}

.help-section {
    height: 100vh;
    background-image: url("/help/help-background.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: var(--primary-white);
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 40px;
    padding: 80px 40px;
}

.help-section h1 {
    font-weight: 800;
    font-size: 60px;
    line-height: 60px;
    max-width: 900px;
    text-align: right;
}

.help-section p {
    font-weight: 500;
    font-size: 32px;
    line-height: 41.6px;
    max-width: 743px;
    text-align: right;
}

.advisory-section .tile-wrapper {
    display: flex;
    justify-content: center;
}

.advisory-section .tile {
    background: var(--primary-yellow);
    border-radius: 16px;
    width: 70%;
    padding: 40px;
}

.advisory-section .tile h3 {
    font-weight: 800;
    font-size: 40px;
    line-height: 40px;
    text-transform: uppercase;
}

.advisory-section .tile p {
    font-weight: 500;
    font-size: 24px;
    line-height: 31.2px;
    margin-top: 24px;
}

.consulting-section {
    display: flex;
    gap: 197px;
    background-color: var(--primary-yellow);
    height: 100vh;
    align-items: center;
    padding: 0 197px;
}

.consulting-section img {
    height: 80%;
}

.consulting-section .text-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.consulting-section .text {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.consulting-section h1 {
    font-weight: 800;
    font-size: 60px;
    line-height: 60px;
}

.consulting-section p {
    font-size: 24px;
    line-height: 31.2px;
    font-weight: 500;
}

.consulting-section ul {
    font-size: 24px;
    line-height: 31.2px;
    font-weight: 500;
}

.consulting-section ul li {
    display: flex;
    gap: 10px;
    align-items: start;
}

.consulting-section ul li svg {
    display: inline;
}