:root {
    --primary-white: #FEFDFB;
    --primary-black: #131313;
    --primary-yellow: #E9EB76;
    --primary-green: #D5EEC8;
    --primary-blue: #BEE9EC;
    --primary-purple: #DAB2ED;
    --dark-yellow: #CECA5C;
}

body {
    color: var(--primary-black);
}

.heroarea-wrapper {
    height: 100vh;
    background-image: url("/hero/hero-background.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

button.btn-primary {
    background-color: var(--primary-yellow);
    font-weight: 500;
    font-size: 24px;
    padding: 15.5px 36px 17.5px 36px;
    border-radius: 63px;
    color: var(--primary-black);
    transition: 0.3s;
}

button.btn-primary:hover {
    background-color: var(--dark-yellow);
}

nav {
    position: fixed;
    top: 0;
    left: 0;
}

nav .options-wrapper {
    background-color: var(--primary-white);
    align-self: start;
    padding: 14.5px 32px 12.5px 32px;
    border-radius: 108px;
    display: flex;
    gap: 16px;
    font-size: 18px;
    font-weight: 500;
}
